*{
    box-sizing: border-box;
}
:root{
    --primary-color:#f77b67;
    --background-color: rgb(240, 215, 215);
    --text-color: #0e0222;
    --brown: #712f1d;
    --burnt_orange: #CC5500; 
}
body{
    margin: 0;
    height: 100vh;
    background-color: white;
    font-family: 'Nunito', sans-serif;
}
table{
    border-spacing: 0;
}
td{
    padding: 0;
}
img{
    border:0;
}
::selection{
    background-color: #e9b320;
}
.wrapper{
    width: 100%;
    table-layout: fixed;
    background-color: #f4f2f2;
}
.main{
background-color: white;
margin: 0 auto;
width:100%;
max-width: 600px;
height: fit-content;
border-spacing: 0;
font-family: sans-serif;
}
.logo_background{
    background-color:black;
}
.logo{
    color:white;
    letter-spacing:0.1rem;
    font-weight: 700;
    font-size: 0.7rem;
    padding:0.3rem;
    text-align: center;
}
.banner{
    background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 30%)) , url(images/image001.jpg);
    background-position: center;
    background-size: cover;
}

.title h1{
    padding-inline: 30px;
    margin-bottom: 0px;
    font-weight: 500;
    font-family:'Qwitcher Grypen', cursive;
    letter-spacing: 2px;
    text-align: center;
    font-size: 3rem;
    color:#e9b320;
    text-shadow: 1px 1px 1px var(--burnt_orange);
}
.title h2{
    text-align: center;
    padding-inline: 15px;
    font-size: 1rem;
    color: var(--burnt_orange);
    font-weight: 600;
}



.promo_image{
    padding: 30px;
    
}
.promo_text{
    padding-right: 30px;
    font-family:  'Nunito', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #712f1d;
}

.or_sign{
    color:var(--burnt_orange);
    font-weight: 900;
    text-align: center;
}
.leaf01{
    background-image: url("images/warszawianka-leaves.svg");
    background-position: right;
    background-repeat: no-repeat;
}
.hurry{
    text-align: center;
    font-family:'Qwitcher Grypen', cursive;
    margin-block: 30px;
    font-size: 2rem;
    color:#712f1d;
}
.button_discount{
    text-align: center;

}
button{
    padding: 10px 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color:#e9b320;
    color: white;
    border:none;
    border-radius: 5px;
    margin-bottom: 50px;
}
button:hover{
    background-color:var(--burnt_orange);
}
button:active{
    position: relative;
    left:2px;
    top:2px;
    background-color:var(--brown);
}
ol{
    padding: 50px;
    padding-bottom: 90px;
    font-family:  'Nunito', sans-serif;
    font-size: 15px;
    color: #712f1d;
    background-image: url("images/large_autumn-leaves-0920.png");
    background-size: 90px;
    background-position: bottom;
    background-repeat: no-repeat;
}
.footer{
    background-color: black;
    font-weight: 300;
    height: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
td a{
    text-decoration: none;
    color:white;
    font-weight: 300;
    font-size: 0.7rem;
}

